@font-face {
  font-family: 'Space Grotesk';
  src: url('spacegrotesk/SpaceGrotesk-Medium.otf');
  src: url('spacegrotesk/SpaceGrotesk-Medium.otf') format('opentype');
  font-weight: 600;
}

html,
body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  cursor: none;
}

#video1,
#video2 {
  position: absolute;
  top: 0;
  left: 0;
}

#attrib1,
#attrib2 {
  position: absolute;
  top: 10px;
  opacity: 0.3;
  font-size: 0.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  text-shadow: 0 0 2px #000;
}
#attrib1 {
  left: 20px;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
}
#attrib2 {
  right: 20px;
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#sam {
  position: absolute;
  left: -500px;
  bottom: 0;
  width: 50%;
  height: auto;
  transition: left 2s ease, bottom 0.4s ease, width 2s ease, height 2s ease;
}

#sam.scoot-away {
  bottom: -150%;
}

#text {
  z-index: 1;
  position: absolute;
  display: inline-block;
  /* left: 50%;
  top: 50%; */
  left: -1000px;
  top: -1000px;
}

#text > div {
  display: inline-block;
  /* margin-left: -50%;
  margin-top: -50%; */
  font-size: 8rem;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  text-shadow: 0 0 10px #fff;

  /* color: hsl(0deg, 100%, 50%);
  animation: rainbow_animation 6s linear infinite; */

  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

/* @keyframes rainbow_animation {
  0% {
    color: hsl(0deg, 100%, 50%);
  }

  50% {
    color: hsl(120deg, 100%, 50%);
  }

  100% {
    color: hsl(240deg, 100%, 50%);
  }
} */
